/* Base */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #a40c0c, #bc0606);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(118, 6, 6);
    width: 100%;
    max-width: 600px;
}

/* Titre */
h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #ffffff;
}

/* Groupes */
.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

/* Pour mettre nom et prénom côte à côte */
.row {
    display: flex;
    gap: 20px;
}

.row .form-group {
    flex: 1;
}

/* Bouton */
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #a91717;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5c0303;
}

/* Lien retour ou login */
a {
    color: #480e0e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
